.main-content-area.main-page {
	@media (min-width: 960px) {
		padding: 0;
		width: 960px;
		margin: 0 auto;
	}
}

.site-header {
	$header-height: 2.5rem;
	display: flex;
	flex-wrap: wrap;

	@media(min-width: 700px) {
		flex-wrap: nowrap;
		height: $header-height;
	}

	.logo-line {
		display: flex;
		width: 100%;
		padding-bottom: 0.8rem;

		@media(min-width: 700px) {
			width: 28%;
		}
		
		.site-title {
			font-size: 1.5rem;
		}

		.site-menu-btn-wrap {
			width: 1.5rem;
			margin-left: auto;

			.show-menu-btn {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 1.5rem;
				height: 1.5rem;
				padding: 0.1rem;

				font-size: 1.3rem;
				line-height: 1.3rem;
				
				background: #eee;
				border: 1px solid #d9d9d9;
			}

			@media(min-width: 700px) {
				display: none;
			}
		}
	}

	.site-menu-wrap {
		visibility: hidden;
		width: 150%;
		max-height: 0;
		margin: 0 -20px;
		padding: 0 20px;
		background: #052e71;

		@media(min-width: 700px) {
			display: flex;
			visibility: visible;
			width: 70%;
			height: $header-height;
			max-height: inherit;
			margin: 0;
			margin-left: auto;
			padding: 0;

			background: inherit;
		}

		.site-menu-items {
			@media(min-width: 700px) {
				display: flex;
				height: inherit;
				margin-left: auto;
				align-items: center;
			}
		}

		.site-menu-button {
			display: block;
			max-height: 0;

			@media(min-width: 700px) {
				max-height: inherit;
				margin-left: 1.5rem;
			}

			&.academy-link {
				background: #1850ac;
			}
		}

		&.show {
			visibility: visible;
			max-height: 100rem;
			transition: max-height 1s ease-in;

			.site-menu-button {
				max-height: 1000rem;
				
				& > a {
					display: block;
					padding: 0.5rem;
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	.site-menu-dropdown-content {
		visibility: hidden;
		max-height: 0;
		margin: 0 -20px;
		border-top: 1px solid #2c5597;
		border-bottom: 1px solid #2c5597;

		@media(min-width: 700px) {
			position: absolute;
			width: 0;
		}

		& > a {
			display: block;
			max-height: 0;
			padding: 0.25rem;
			color: white;
			text-decoration: none;
			background: #042a68;
			padding-left: 2.5rem;
		}

		&.show {
			visibility: visible;
			width: inherit;
			max-height: 100rem;
			transition: max-height 1s ease-in;
			margin: 0;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 2;

			& > a {
				max-height: 100rem;
				padding: 0.5rem;

				&:hover {
					background: #0f4191;
				}
			}
		}
	}
}

.hero {
	margin: 0 -20px;
	padding: 10px;
	background: #002157;

	perspective: 1000px;

	@media(min-width: 960px) {
		margin: 0;
	}

	.cube-plane {
		background: #002157;
	}
}

.recent-posts {
	h1 {
		margin: 0.5rem 0;
		font-size: 1.2rem;
	}

	.posts {
		display: flex;
		flex-wrap: wrap;
	}

	.main-page-post {
		background: #eaeaff;
		border: 1px solid #cdb4ff;
		padding: 0.5rem;
		margin-bottom: 1rem;

		@media(min-width: 700px) {
			width: 49%;
			box-sizing: border-box;
		}

		&:nth-child(2n+1) {
			@media(min-width: 700px) {
				margin-right: 2%;
			}
		}

		.post-title {
			padding-bottom: 0.5rem;
			border-bottom: 1px solid #2e3092;
			margin-bottom: 0.8rem;

			a {
				font-size: 1.5rem;
				text-decoration: none;
				color: black;
				font-weight: bold;
			}
		}

		.post-summary {
			p {
				margin: 0;
				margin-bottom: 0.5rem;
			}
		}

		.post-cta {
			display: flex;
			justify-content: center;
			
			a {
				display: inline-block;
				padding: 0.3rem 1rem;
				background: #115f7e;
				color: white;
				text-decoration: none;
			}
		}
	}
}

footer {
	margin: 0 -20px;

	@media(min-width: 960px) {
		margin: 0;
	}

	.sns-list {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3rem;
		background: #b0b8c5;

		.icon {
			width: 100%;
			height: 100%;
			color: black;
		}
		
		.link {
			width: 1.5rem;
			margin-right: 0.8rem;

			& > a {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 100%;
				height: 100%;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.info-list {
		display: flex;
		flex-direction: column;
		background: #001331;
		padding: 10px;

		& > a {
			color: white;
			text-decoration: none;
			margin-bottom: 0.3rem;
		}
	}
}