html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.toc-wrap {
	background: #000;
	width: 250px;
	margin-left: -250px;
	margin-right: 20px;
	overflow-y: auto;
	transition: 0.5s ease-in;

	@media (min-width:700px) {
		margin-left: 0px;
	}

	@media (min-width:1300px) {
		width: 300px;
	}

	a {
		text-decoration: none;
	}

	.back-to-main {
		padding: 1em;
		border-bottom: 1px solid #444;

		&:hover {
			background: #333;
		}

		.back-wrap {
			display: flex;
		}

		a {
			color: white;
		}

		.back-text {
			margin-left: auto;
		}
	}

	.level-0 {
		padding-left: 0;
		margin: 0;

		li {
			padding: 10px;
			list-style: none;

			&:hover {
				background: #333;
			}

			a {
				display: block;
				width: 100%;
			}

			.current {
				color: #69abf3;
			}

			.normal {
				color: #d3d3d3;
			}
		}
	}
}

.hide-toc .toc-wrap {
	transition: 0.5s ease-in;
	margin-left: -250px;
	@media (min-width:1300px) {
		margin-left: -300px;
	}
}

.main {
	width: 100%;
	padding: 10px;
	overflow-y: auto;

	.main-content-area {
		width: 100%;
		padding: 10px;

		@media(min-width: 1300px) {
			width: 960px;
			margin: 0 auto;
		}
	}

	.menu {
		display: flex;
		font-size: 1.5em;

		.menu-right {
			display: flex;
			margin-left: auto;
		}

		.menu-button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			width: 1.5em;
			height: 1.5em;

			border: 1px solid #ddd;
			border-radius: 0.3em;
			cursor: pointer;

			&:hover {
				background: #ddd;
			}

			&>a {
				display: flex;
				height: 100%;
				width: 100%;
				align-items: center;
				justify-content: center;
				color: black;
				text-decoration: none;
			}
		}
	}

	.content-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;

		.title {
			border-bottom: 1px solid #6dcff6;

			.text {
				font-size: 2em;
				margin: 0.3em 0;
			}
		}

		.content {
			h1 {
				font-size: 1.5em;
			}

			h2 {
				font-size: 1.3em;
			}

			p {
				margin: 0.8em 0;
			}
		}
	}
	
	.container-3d-box {
		perspective: 1000px;
		margin: 2em 1em;

		.cube {
			position: relative;
			width: 100%;
			height: 8em;
			transform-style: preserve-3d;

			.cube-plane {
				position: absolute;
				width: 100%;
				height: 13em;
				border-radius: 0.5em;
				padding: 1em;
				box-sizing: border-box;

				background: darkslateblue;
				color: white;

				backface-visibility: hidden;
				
				.cta {
					font-size: 1.2em;
					margin-bottom: 1em;
				}

				@media(min-width: 700px) {
					height: 8em;
				}
			}

			.success {
				transform: rotateX(90deg) translateZ(4em);
				transition: transform .33s ease-in;
			}

			.signup-form {
				transition: transform .33s ease-in;
			}
			
			&.done {
				.success {
					transform: rotateX(0deg) translateZ(0);
				}

				.signup-form {
					transform: rotateX(-90deg) translateZ(4em);
				}
			}
		}

		.signup-form {
			input, button {
				width: 100%;
				font-size: 1.2em;
				box-sizing: border-box;
			}

			input {
				padding-left: 0.5em;
				margin-bottom: 0.5em;
			}

			@media(min-width: 700px) {
				#firstName {
					width: 29%;
				}

				#email {
					width: 46%;
				}

				#firstName, #email {
					margin-right: 1%;
				}

				#join {
					width: 20%;
				}
			}
		}
	}

	.next {
		display: flex;

		padding: 1em 0;
		align-items: center;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

		.text {
			margin-right: 1em;
			font-weight: bold;
			font-size: 1.1em;
		}

		.next-title {
			font-size: 1.1em;
		}

		.button {
			margin-left: auto;
			padding: 0.5em 2em;
			background: #f26522;

			a {
				display: block;
				text-decoration: none;
				color: white;
			}
		}
	}
}

.dropdown-content {
	visibility: hidden;
	
	position: absolute;
	background-color: #f9f9f9;
	
	min-width: 3em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right: 0;
	top: 1.5em;

	& > a {
		display: block;
		color: black;
		padding: 0.5em 1em;
		text-decoration: none;
		font-size: 0.5em;
		max-height: 0;
		transition: 0.1s ease-in;

		&:hover {
			background-color: #f1f1f1
		}
	}
}

.show {
	visibility: visible;

	& > a {
		max-height: 2em;
		transition: 0.3s ease-in;
	}
}

body.night-mode {
	background: #0a0a0a;
}

.night-mode {
	.main {
		color: white;
		.menu-button {
			border: 1px solid #777;
			
			&>a {
				color: white;
			}
		}
	}

	.dropdown-content {
		background-color: #090909;

		& > a {
			color: white;
			&:hover {
				background-color: #444;
			}
		}
	}
}    

.site-title-wrap {
	border-bottom: 1px dotted #dfdfdf;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;

	.site-title {
		font-size: 1.5em;
	}

	.site-description {
		margin-left: 0.6em;
	}
}